@import "./reset.scss";
@import "./vars.scss";
@import "./helpers.scss";
@import "./base.scss";

// avenir like font
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@300..800&display=swap");

.font {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  @extend .font;
}

nav {
  a {
    text-decoration: none;
  }
}
