$SIZE_MOBILE_XS: 355px;
$SIZE_MOBILE: 450px;
$SIZE_TABLET: 750px;
$SIZE_DESKTOP: 900px;

$CONTAINER: 560px;
$CONTAINER_SMALL: 375px;
$CONTAINER_LARGE: 750px;

$THEME_HUE: 180deg;

$BUTTON_LENGTH: 4px;

$COLOUR-SUCCESS: hsl(184, 71%, 80%);
$COLOUR-ERROR: hsl(353, 92%, 68%);
$COLOUR-ERROR-LIGHT: hsl(353, 95%, 85%);
$COLOUR-TINT: hsla($THEME_HUE, 20%, 20%, 0.2);
$COLOUR-DISABLED: hsla($THEME_HUE, 20%, 20%, 0.5);
$COLOUR-UNSELECTED: hsl($THEME_HUE, 30%, 25%);
$COLOUR-GREY: hsl($THEME_HUE, 0%, 45%);
$COLOUR-TEAL: hsl($THEME_HUE, 100%, 25%);

$COLOUR-BG: hsl($THEME_HUE, 40%, 15%);
$COLOUR-FG: hsl($THEME_HUE, 70%, 97%);

$BORDER_RADIUS: 0.15rem * 1.75;
$TRANSITION: 0.1s;

$LINE_THICKNESS: 2px;
